body {
  padding: 1.5rem;
  font-family: 'Source Sans pro', Verdana, sans-serif;
}
table{
  border-spacing: 0;
}
table thead tr {
  color: white;
  background-color: blue;
}
table thead tr th{
  border: 0;
  padding: 0.5rem;
  margin: 0;
  font-weight: bold;
}

table tbody tr td{
 padding: 0.5rem;
}
